importando a biblioteca pandas

In [58]:
import pandas as pd

importando a biblioteca os

In [59]:
import os

In [60]:
file_path = os.path.join('..', 'data', 'raw', 'vendas.csv')
pd.read_csv(file_path)

   order_id   customer_id   valor         data
0         1           101   250.0   2024-01-01
1         2           102   200.5   2024-01-02
2         3           101     NaN   2024-01-03
3         4           103   350.0   2024-01-04