1. importando bibliotecas para a tarefa

In [671]:
import os

In [672]:
import pandas as pd

2. lendo o arquivo 'vendas.csv' (trabalharemos em cima dele)

In [673]:
file_path = r"C:\Users\matheus.r\Desktop\data-engineering-roadmap\week_02_python_dados\data\raw\vendas.csv"
dados = pd.read_csv(file_path)
print(dados)

   order_id   customer_id   valor         data
0         1           101   250.0   2024-01-01
1         2           102   200.5   2024-01-02
2         3           101     NaN   2024-01-03
3         4           103   350.0   2024-01-04

3. função 'dropna'

In [674]:
def limpeza_dados(dados):
    dados_limpos = dados.dropna()
    return dados_limpos

limpeza_dados(dados)

   order_id   customer_id   valor         data
0         1           101   250.0   2024-01-01
1         2           102   200.5   2024-01-02
3         4           103   350.0   2024-01-04

4. função 'fillna'

In [675]:
def filtragem_dados(dados):
    dados[' valor'] = dados[' valor'].fillna(500.0)
    return dados

filtragem_dados(dados)

   order_id   customer_id   valor         data
0         1           101   250.0   2024-01-01
1         2           102   200.5   2024-01-02
2         3           101   500.0   2024-01-03
3         4           103   350.0   2024-01-04

5. função 'astype'

In [676]:
def tipo(dados):
    dados[' customer_id'] = dados[' customer_id'].astype(str)
print(dados.dtypes)
print(dados)

order_id          int64
 customer_id      int64
 valor          float64
 data            object
dtype: object
   order_id   customer_id   valor         data
0         1           101   250.0   2024-01-01
1         2           102   200.5   2024-01-02
2         3           101   500.0   2024-01-03
3         4           103   350.0   2024-01-04

6. função 'rename'

In [677]:
def renomear(dados):
    dados_novos = dados.rename(columns={' valor': ' preco'})
    return dados_novos
dados = renomear(dados)
print(dados.columns)

Index(['order_id', ' customer_id', ' preco', ' data'], dtype='object')

7. função 'apply'

In [678]:
def classificar_venda(preco):
    if preco > 300:
        return 'Venda Alta'
    else:
        return 'Venda Normal'
dados['categoria'] = dados[' preco'].apply(classificar_venda)
print(dados)

   order_id   customer_id   preco         data     categoria
0         1           101   250.0   2024-01-01  Venda Normal
1         2           102   200.5   2024-01-02  Venda Normal
2         3           101   500.0   2024-01-03    Venda Alta
3         4           103   350.0   2024-01-04    Venda Alta

8. função 'map'

In [679]:
def remapear(dados):
    mapas_regionais = {
            101: ' Sudeste',
            102: ' Sul',
            103: ' Norte'
    }
    dados[' regionais'] = dados[' customer_id'].map(mapas_regionais)
    return dados

dados = remapear(dados)
print(dados.head())

   order_id   customer_id   preco         data     categoria  regionais
0         1           101   250.0   2024-01-01  Venda Normal    Sudeste
1         2           102   200.5   2024-01-02  Venda Normal        Sul
2         3           101   500.0   2024-01-03    Venda Alta    Sudeste
3         4           103   350.0   2024-01-04    Venda Alta      Norte

9. criando e salvando o 'clean.csv'

In [680]:
caminho_salvar = r"C:\Users\matheus.r\Desktop\data-engineering-roadmap\week_02_python_dados\data\processed\clean.csv"

os.makedirs('data/processed', exist_ok='True')
dados.to_csv(caminho_salvar, index='False')